service_account_key_file = "/home/key.json"
token                    = "AgAAAAAP9EZsAATuwR_Va-OKgkDYleCEcNmfzfQ"
cloud_id                 = "b1gqi500si21djf3i3gg"
folder_id                = "b1golruus3e3s99n7305"
zone                     = "ru-central1-a"
image_id                 = "fd851cqjl1mfl3bjp3u8"
subnet_id                = "e9blqkmrgh1ml0d8ltoe"
private_key              = "~/.ssh/appuser"
